{{>nav}}
<!-- Inicio del cuerpo -->
<section class="cuerpo">
    <div class="cuerpo-titulo">
        <h1>
            <i class="fas fa-info-circle"></i> Configuracion del sistema
        </h1>
    </div>
        <div class="cuerpo-contenido">
            {{!-- Inicio de administracion de usuarios --}}
                <div class="caja-contenido-small">
                    <div class="contenido">
                        <img src="/img/dashboard-section/init.png" alt="" class="image-fit">
                        <p>
                            <h1>
                                Administrar usuarios
                            </h1> 
                            <hr>
                            <p>
                                Administra los usuarios que accesan al sistema y los que estan por acceder.
                            </p>
                        </p>
                        <a class="green-button" href="#"> Ir </a>
                    </div>
                </div>
            {{!-- Fin de administracion de usuarios --}}
            {{!-- Inicio de gestion de auditorias --}}
                <div class="caja-contenido-small">
                    <div class="contenido">
                        <img src="/img/dashboard-section/lock.png" alt="" class="image-fit">
                        <p>
                            <h1>
                                Gestion de auditorias
                            </h1> 
                            <hr>
                            <p>
                                Gestiona las auditorias del sistema, revisa el registro, imprime un informe, o limpia todo
                                el historial
                            </p>
                        </p>
                        <a class="green-button" href="#"> Ir </a>
                    </div>                   
                </div>
            {{!-- Fin de gestion de auditorias --}}
        </div>
</section>
<script src="/js/dashboardEvents.js"></script>
<!-- Fin del cuerpo -->