 <!-- Inicio del navbar o menu -->
    <header class="menu">
        <ul>
            <li>
                <i id="tool" class="fas fa-cog fa-2x"></i>
            </li>
            {{!-- <li>
                <a href="#">Inicio</a>
            </li> --}}
            <li id="pedidosSection">
                <a>
                    Pedidos
                    <i class="fas fa-chevron-down"></i>
                </a>
                <div id="pedidosSub">
                    <p><a href="/pedidos/pendientes">Pendientes</a></p>
                    <p><a href="/pedidos/aprobados">Aprobados</a></p>
                    <p><a href="/pedidos/listos">Listos</a></p>
                    <p><a href="/pedidos/entregados">Entregados</a></p>
                    <p><a href="/pedidos/cancelados">Cancelados</a></p>
                </div>
            </li>
            <li id="clientSection">
                <a>
                    Reportes
                    <i class="fas fa-chevron-down"></i>
                </a>
                <div id="clientSub">
                    <p><a href="/reports/clientes">Clientes</a></p>
                    <p><a href="/reports/ventas">Ventas</a></p>
                </div>
            </li>
            <li id="otrosSection">
                <a>
                    Productos
                    <i class="fas fa-chevron-down"></i>
                </a>
                <div id="otrosSub">
                    <p><a href="/products">Gestionar</a></p>
                </div>
            </li>
            <li>
                <i id="exit" class="fas fa-sign-out-alt fa-2x"></i>
            </li>
        </ul>
    </header>
    <!-- Fin del navbar o menu -->