{{>nav}}

<!-- Inicio del cuerpo -->
<section class="cuerpo">
    <div class="cuerpo-contenido">
        <img src="/img/general/report.svg" class="image-fit">
        <div class="titulo-1">Seleccione una opcion</div>
        <div class="box">
            <a href="/reports/clientes/all_clients" target="_blank" class="add-button">
                Todos los clientes
            </a>
            <a href="/reports/cliente/6871896128" target="_blank" class="add-button">
                Cliente especifico
            </a>
        </div>
    </div>
</section>

<script src="/js/dashboardEvents.js"></script>
