{{>nav}}

<!-- Inicio del cuerpo -->
<section class="cuerpo">
    <div class="cuerpo-contenido">
        <img src="/img/general/report.svg" class="image-fit">
        <div class="titulo-1">Establezca los parametros</div>
        <div class="box">
            <form action="">
                <label for="fecha1">De la fecha</label>
                <input type="date" name="fecha1" id="fecha1">
                <label for="fecha2">A la fecha</label>
                <input type="date" name="fecha2" id="fecha2">
                <a target="_blank" id="generate-report" class="blue-button" >Generar reporte</a>
            </form>
        </div>
    </div>
</section>

<script src="/js/dashboardEvents.js"></script>
<script src="/js/report-ventas.js"></script>
