<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema Gestor 1.0</title>
    <script src="https://kit.fontawesome.com/8d030a2d82.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/mainstyle.css">
    <link rel="stylesheet" href="/css/loginstyle.css">
    <link rel="stylesheet" href="/css/dashboardstyle.css">
</head>
<body id="warp">
    {{{body}}}
</body>
</html>